.listContainer {
  margin-left: 18rem;
  margin-top: 3rem;
}

.listDoctor {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.docName {
  padding: 10px;
}

.delete {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dltBtn {
  margin: 5px;
  width: 25px;
  height: 25px;
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .listContainer {
    margin: 0;
  }

  .listDoctor {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 10px;
    padding: 2rem;
  }

  .list {
    width: 100%;
  }
}
