.doctorsCarousel {
  margin-left: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.next {
  position: absolute;
  top: 50%;
  right: 32px;
  z-index: 10;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.prev {
  position: absolute;
  top: 50%;
  left: 32px;
  z-index: 10;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.direction {
  padding: 0.75rem 1rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  width: 4rem;
  height: 3rem;
}

.top {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 15rem;
}

.top span {
  font-size: 2rem;
}

.top p {
  color: var(--dull);
  margin-top: 0.7rem;
  font-size: large;
}

.slideImg {
  border-radius: 50%;
  align-self: center;
  width: 280px;
  height: 280px;
}

.docName {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}

.docDescription {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5rem;
  color: var(--dull);
  margin-left: 2rem;
  margin-right: 2rem;
  width: 18rem;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.line {
  width: 7rem;
  border: dotted 1px var(--primary-color);
  align-self: center;
  margin: 2rem;
}

.doctorsCarousel ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.doctorsCarousel ul li {
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social img {
  width: 2rem;
  height: 2rem;
  margin: 10px;
}

@media (max-width: 768px) {
  .doctorsCarousel {
    margin: 1rem;
    height: 100%;
  }

  .doctorsCarousel ul {
    flex-direction: column;
  }

  .doctorsCarousel ul li {
    margin-bottom: 2rem;
    border-bottom: solid var(--dull);
  }

  .top {
    margin-left: 0;
    margin-right: 0;
  }

  .next {
    top: 100%;
  }


  .prev {
    top: 100%;
  }
}
