.loginContainer {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;

}

.login {
    width: 50rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.line {
    width: 7rem;
    height: 0.2rem;
    background-color: var(--primary-color);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.shadow {
    -moz-box-shadow: 0 0 3px #ccc !important;
    -webkit-box-shadow: 0 0 3px #ccc !important;
    box-shadow: 0 0 35px #ccc !important;
}

.formSubmitBtn {
    width: 7rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--accent-color);
    font-size: 1rem;
    color: var(--white);
}

.formSubmitBtn:hover {
    background: var(--primary-color);
    color: var(--white);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    height: 3rem;
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: solid 1px var(--accent-color);
    font-size: 1rem;
}

form > div {
    margin-bottom: 1rem;
}
  

input[type="text"]:focus, 
input[type="password"]:focus {
    outline: none;
    box-shadow: none;
    border: solid 1px var(--primary-color) !important;
}

.banner {
    width: 100%;
    min-height: 20rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .login {
        width: 100%;
    }

    .banner {
        width: 100%;
        margin-bottom: 0;
    }    
}